header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 10px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: 5;
  padding-bottom: 5px;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--font-size-300);
}

header p {
  font-size: var(--font-size-100);
}

.button {
  margin-right: 30px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
