main.about {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--margin);

  font-size: var(--font-size-300);
  line-height: var(--line-height-300);
}
.text-container {
  margin-top: calc(80px + (2 * var(--font-size-100)) + 10px);
}

.intern {
  display: inline-block;
}

.alien-wrapper {
  position: absolute;
  display: flex;
  /* grid-template-rows: 1fr auto; */
  text-align: center;
  animation: float 6s ease-in-out infinite;
  transition:
    left 0.6s ease,
    top 0.6s ease;
  z-index: 4;
  flex-direction: column;
  justify-content: space-around;
}

.name {
  color: var(--font-color);
  width: min-content;
  align-self: center;
  white-space: nowrap;
}

.service {
  display: inline-block;
}

.alien-wrapper .alien {
  font-size: 200px;
  line-height: 0.7;
  height: 230px;
  vertical-align: middle;
  display: flex;
  justify-content: space-around;
  top: 50px;
  position: relative;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* Small Devices (Phones, 576px and up) */
@media (max-width: 767.98px) {
  .name::before {
    content: "";
    background: linear-gradient(45deg, #002bff, #ff00c8, #8601be);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(150% - 4px);
    filter: blur(6px) saturate(2);

    animation: glowing 20s linear infinite;
    transition:
      opacity 0.3s ease-in-out,
      transform 0.3s ease-in-out;
    border-radius: 12px;

    transform: translateZ(0);
    transform-origin: center;
  }

  .name {
    color: #000;
  }
  main.about {
    grid-template-columns: 1fr;
    /* display: unset; */

    position: relative;
    /* top: unset; */
    z-index: unset;
    /* height: 100vh; */
    margin-bottom: 100px;
  }

  .text-container {
    margin-top: calc(75px + 2 * (var(--font-size-100)));
  }

  .alien-wrapper .alien {
    font-size: 120px;
    height: 160px;
    top: 45px;
  }

  .alien-container {
    position: sticky !important;
    left: 0;
    top: 65px;
    z-index: 4;
    /* width: 100vw; */
    /* height: 100vh; */
  }
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 991.98px) {
}
