.fullscreen-preview-outer {
  width: 100vw;
  height: 100vh;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: var(--margin);
  backdrop-filter: blur(20px);
}
.fullscreen-preview-inner {
  position: relative;

  max-width: 100%;
  max-height: 100%;

  display: flex;
  align-self: center;

  min-width: 0;
  min-height: 0;
}

.close-button {
  position: absolute;
  top: var(--margin);
  right: var(--margin);
}

.fullscreen-preview img,
.fullscreen-preview video {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;

  background-size: contain;
}

.fullscreen-button {
  z-index: 100;
  position: absolute;
  bottom: calc(var(--margin) / 1.5);
  right: var(--margin);
  width: 20px;
  height: auto;
}

.fullscreen-preview-inner div {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 575.98px) {
}
