ul.filtering {
  display: flex;
  flex-direction: row;
}

.filtering-wrapper {
  position: sticky;
  top: 40px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: 5;
}

.toggleOptions {
  font-size: var(--font-size-100);
  line-height: var(--line-height-100);
}

.filter::after {
  content: ",\00A0\00A0"; /* Add a comma followed by a non-breaking space */
}

.filter:last-child::after {
  content: ""; /* No comma or space for the last item */
}

@media (max-width: 575.98px) {
  ul.filtering {
    display: unset;
  }
  ul.filtering li {
    display: inline;
  }
}

/* Small Devices (Phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  ul.filtering {
    display: unset;
  }
  ul.filtering li {
    display: inline;
  }
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  ul.filtering {
    display: unset;
  }
  ul.filtering li {
    display: inline;
  }
}

/* Desktop */
@media (min-width: 991.98px) {
  ul.filtering {
    display: unset;
  }
  ul.filtering li {
    display: inline;
  }
}
