.imageview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--margin);

  margin-top: var(--margin);
}

.imageview .project img,
.imageview .project video {
  width: 100%;
  height: auto;
  border-radius: var(--margin);
}

.imageview .project {
  position: relative;
}

.project-name,
.project-categories,
.project-year {
  z-index: 100;
}

.project-details-outer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  overflow: hidden;

  border-radius: var(--margin);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--margin);
  opacity: 0;
}
.imageview .project:hover .project-details-outer {
  opacity: 1;
  background: var(--background-color);
}

.project-details-inner {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  filter: blur(30px);
  opacity: 0;
}
.project:hover .project-details-inner {
  opacity: 1;
}
.project-details {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  margin: 0;
  background: conic-gradient(from 0deg, #ff00c8, #002bff, #3cabc0, #8601be);
  animation: spinBlob 20s linear infinite;
}

@keyframes spinBlob {
  0% {
    transform: rotate(0deg) scale(7);
  }
  100% {
    transform: rotate(1turn) scale(7);
  }
}

@media (max-width: 575.98px) {
  .imageview {
    grid-template-columns: 1fr;
  }
}

/* Small Devices (Phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .imageview {
    grid-template-columns: 1fr 1fr;
  }
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .imageview {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 991.98px) {
  .imageview {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
