.imageview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--margin);

  margin-top: 20px;
}

.imageview .project img,
.imageview .project video {
  width: 100%;
  height: auto;
}

.imageview .project {
  position: relative;
}

.project-details {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--margin);
  height: 100%;
  width: 100%;
  transition: opacity 0.2s cubic-bezier(0.95, 0.01, 0.68, 1);
}
.imageview .project:hover .project-details {
  opacity: 1;
  /* background: linear-gradient(45deg, #002bff, #ff00c8, #8601be); */
  /* filter: blur(8px); */
}

.project:hover img {
  /* filter: blur(8px) grayscale(); */
}

@media (max-width: 575.98px) {
  .imageview {
    grid-template-columns: 1fr;
  }
}

/* Small Devices (Phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .imageview {
    grid-template-columns: 1fr 1fr;
  }
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .imageview {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 991.98px) {
  .imageview {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
