.projectwrapper {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  gap: var(--margin);
  margin-top: 20px;
}

ul.listview li.project,
ul.infotitles {
  display: grid;
  /* flex-direction: row; */
  grid-template-columns: 3fr 2fr 30px;
  margin-bottom: var(--margin);

  border-bottom: 1px solid var(--text-color);
  font-size: var(--font-size-100);
}

ul.listview li.project .name {
  font-size: var(--font-size-300);
}

ul.listview ul.categories {
  display: flex;
  flex-direction: row;
}

ul.listview .year,
ul.infotitles .year {
  text-align: right;
}

ul.listview ul.categories li.category {
  margin-right: 5px;
}

.imagepreview img,
.imagepreview video,
.imagepreview .media-wrapper {
  width: 100%;
  height: auto;
  position: relative;
}

.project {
  position: relative;

  transition: color 0.3s ease-in-out;
}
/* glow */
.project::before {
  content: "";
  background: linear-gradient(45deg, #002bff, #ff00c8, #8601be);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% - 4px);
  filter: blur(8px);
  /* -webkit-filter: blur(8px); */
  animation: glowing 15s linear infinite;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;

  transform-origin: center;
}

@keyframes glowing {
  0% {
    background-position: 0% 50%;
    transform: translateZ(0.001);
  }
  50% {
    background-position: 100% 50%;
    transform: translateZ(0);
  }
  100% {
    background-position: 0% 50%;
    transform: translateZ(0.001);
  }
}

.project:hover::before {
  opacity: 1;
}
.project:hover {
  color: #000;
}

/* Phones in Landscape Mode */
@media (max-width: 575.98px) {
  .projectwrapper {
    grid-template-columns: 2fr 0fr;
    gap: 0px;
  }

  ul.listview ul.categories {
    display: none;
  }
  ul.infotitles .category {
    display: none;
  }
  ul.listview li.project,
  ul.infotitles {
    grid-template-columns: 3fr 30px;
  }
}

/* Small Devices (Phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .projectwrapper {
    grid-template-columns: 2fr 0fr;
    gap: 0px;
  }
  ul.listview ul.categories {
    display: none;
  }
  ul.infotitles .category {
    display: none;
  }
  ul.listview li.project,
  ul.infotitles {
    grid-template-columns: 3fr 30px;
  }
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .projectwrapper {
    grid-template-columns: 2fr 0fr;
    gap: 0px;
  }
  ul.listview ul.categories {
    display: none;
  }
  ul.infotitles .category {
    display: none;
  }
  ul.listview li.project,
  ul.infotitles {
    grid-template-columns: 3fr 30px;
  }
}

/* Desktop */
@media (min-width: 991.98px) {
}
