.headerDesktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--font-size-300);
  line-height: var(--line-height-300);
  white-space: nowrap;
}

.navigation li {
  margin-right: 25px;
}

.headerDesktop p {
  font-size: var(--font-size-100);
  line-height: var(--line-height-100);
}

.switchTheme {
  font-size: var(--font-size-200);
  cursor: pointer;
  display: flex;
  align-self: flex-end;
  flex-direction: row;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media screen and (max-width: 1200px) {
  .tagline {
    display: none;
  }
}
