.imagegallery {
  width: 100%;
}
.galleryRow {
  display: grid;
  gap: var(--margin);
  margin-bottom: var(--margin);
  display: flex;
  align-items: flex-start;
}
.galleryRow img,
.galleryRow video {
  width: 100%;
  height: auto;
}
