main.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--margin);
  font-size: var(--font-size-300);
}

.intern {
  display: inline-block;
}

.alien-wrapper {
  position: absolute;
  display: grid;
  grid-template-rows: 1fr auto;
  text-align: center;
  animation: float 6s ease-in-out infinite;
  transition: left 0.6s ease, top 0.6s ease;
  z-index: 300;
}
.alien-wrapper .alien {
  font-size: 200px;
  line-height: 0.7;
  height: 230px;
  vertical-align: middle;
  display: flex;
  justify-content: space-around;
  top: 70px;
  position: relative;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@media (max-width: 575.98px) {
  main.about {
    grid-template-columns: 1fr;
  }

  .alien-wrapper .alien {
    font-size: 120px;
    height: 130px;
    top: 45px;
  }
}

/* Small Devices (Phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  main.about {
    grid-template-columns: 1fr;
  }
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 991.98px) {
}
