header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: 5;

  width: calc(100% + calc(var(--margin) * 2));

  padding: var(--margin);
  /* padding-top: var(--margin); */
  /* padding-bottom: var(--margin); */

  margin: calc(var(--margin) * -1);
  margin-bottom: var(--margin);
}
