.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0px;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: 5;

  /* width: calc(100% + calc(var(--margin) * 2)); */

  /* padding: var(--margin); */

  /* margin-bottom: var(--margin); */
  /* margin-top: var(--margin); */
  margin-bottom: 20px;
  padding: 10px;
  margin: -15px;
  margin-bottom: 10px;
}
