.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: var(--font-size-100);
  line-height: var(--line-height-100);
  padding-top: var(--margin);

  /* position: fixed; */
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 15px var(--margin);
}
