.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-container {
  will-change: transform;

  flex: 0 0 calc(33.3333% - var(--margin));
  max-width: calc(33.3333% - var(--margin));
  mix-blend-mode: difference;
  padding: 4%;
}

@media (max-width: 575.98px) {
  .image-container {
    flex: 1 1 calc(50% - var(--margin));
    max-width: calc(50% - var(--margin));
    padding: 2%;
  }
}

/* Small Devices (Phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .image-container {
    flex: 1 1 calc(50% - var(--margin));
    max-width: calc(50% - var(--margin));
    padding: 3%;
  }
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Desktop */
@media (min-width: 991.98px) {
}
