.imageview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--margin);

  margin-top: var(--margin);
}

.project-front {
  width: 100%;
  height: 100%;
  background: var(--background-color);
  justify-content: center; /* Horizontally center */
  align-items: center;
}

.imageview .project img,
.imageview .project video {
  width: 100%;
  height: auto;
}

.imageview .project {
  position: relative;
}

.imageview .project:hover:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: var(--gradient-shadow);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 60s linear infinite;
  filter: blur(10px) saturate(2);
}

.shadow:after {
  filter: blur(20px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
    transform: translateZ(0.1);
  }
  50% {
    background-position: 300% 0;
    transform: translateZ(0);
  }
  100% {
    background-position: 0 0;
    transform: translateZ(0.1);
  }
}

.project-name,
.project-categories,
.project-year {
  z-index: 100;
}

.project-details-outer {
  position: absolute;
  top: -1px;
  left: -1px;
  height: calc(100% + 2px);
  width: calc(100% + 2px);

  overflow: hidden;

  /* border-radius: var(--margin); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--margin);
  opacity: 0;

  transition: opacity 0s ease;
  z-index: 2;
}
.imageview .project:hover .project-details-outer {
  opacity: 1;
  background: var(--background-color);
  /* box-shadow: 0 0 15px 4px #ff00c8; */
  /* animation: boxshadowanimate 5s infinite linear; */
}

@keyframes boxshadowanimate {
  0% {
    box-shadow: 0 0 14px 8px #002bff;
  }
  33% {
    box-shadow: 0 0 14px 8px #ff00c8;
  }
  66% {
    box-shadow: 0 0 14px 8px #8601be;
  }
  100% {
    box-shadow: 0 0 14px 8px #002bff;
  }
}

.project-details-inner {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--background-color);
  filter: blur(40px);
  opacity: 0;
  mix-blend-mode: multiply;
}
.project:hover .project-details-inner {
  opacity: 1;
}
.project-details {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  margin: 0;
}

@keyframes spinBlob {
  0% {
    transform: rotate(0deg) scale(3);
  }
  100% {
    transform: rotate(1turn) scale(3);
  }
}

@media (max-width: 575.98px) {
  .imageview {
    grid-template-columns: 1fr;
  }
}

/* Small Devices (Phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .imageview {
    grid-template-columns: 1fr 1fr;
  }
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .imageview {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 991.98px) {
  .imageview {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
