.projectwrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--margin);
  margin-top: var(--margin);
}

ul.listview li.project,
ul.infotitles {
  display: grid;

  grid-template-columns: 3fr 2fr 40px;
  padding-bottom: calc(var(--margin) / 2);
  padding-top: calc(var(--margin) / 2);

  border-bottom: 1px solid var(--text-color);
  font-size: var(--font-size-100);
  line-height: var(--line-height-100);
}

ul.listview li.project .name {
  font-size: var(--font-size-300);
  line-height: var(--line-height-300);
}

ul.listview .categories {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0; /* important in grid layouts */
  padding-right: 20px;
}

ul.listview .year,
ul.infotitles .year {
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.preview-wrapper {
  position: absolute;
  width: 20vw;
  aspect-ratio: 4 / 5;
}

.project {
  position: relative;
  transition: color 0.3s ease-in-out;
}
/* glow */
.project::before {
  content: "";
  background: linear-gradient(45deg, #002bff, #ff00c8, #8601be);
  position: absolute;
  background-size: 600%;
  z-index: -1;
  width: calc(100%);
  height: calc(100%);
  filter: blur(8px);
  animation: glowing 15s linear infinite;
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;

  transform-origin: center;
}

.project:hover::before {
  opacity: 1;
}

@keyframes glowing {
  0% {
    background-position: 0% 50%;
    transform: translateZ(0.001);
  }
  50% {
    background-position: 100% 50%;
    transform: translateZ(0);
  }
  100% {
    background-position: 0% 50%;
    transform: translateZ(0.001);
  }
}

/* Phones in Landscape Mode */
@media (max-width: 575.98px) {
  .projectwrapper {
    grid-template-columns: 2fr 0fr;
    gap: 0px;
  }

  ul.listview .categories {
    display: none;
  }

  ul.listview li.project,
  ul.infotitles {
    grid-template-columns: 3fr auto;
  }
}

/* Small Devices (Phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .projectwrapper {
    grid-template-columns: 2fr 0fr;
    gap: 0px;
  }
  ul.listview .categories {
    display: none;
  }

  ul.listview li.project,
  ul.infotitles {
    grid-template-columns: 3fr auto;
  }
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .projectwrapper {
    grid-template-columns: 2fr 0fr;
    gap: 0px;
  }
  ul.listview .categories {
    display: none;
  }

  ul.listview li.project,
  ul.infotitles {
    grid-template-columns: 3fr auto;
  }
}

/* Desktop */
@media (min-width: 991.98px) {
}
