@charset "UTF-8";

@font-face {
  font-family: "Founders";
  src: url("/assets/fonts/Founders-Grotesk-R-Regular.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "FoundersMedium";
  src: url("/assets/fonts/Founders-Grotesk-Medium.otf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  scrollbar-width: none;
  appearance: none;
  -webkit-appearance: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  box-sizing: border-box;
}

*::-webkit-scrollbar {
  scrollbar-width: none;
  -webkit-appearance: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  width: 0;
  height: 0;
}

:root {
  --font-size-100: 16px;
  --font-size-200: 16px;
  --font-size-300: 22px;
  --font-size-400: 28px;
  --font-size-500: 42px;

  --line-height-100: 18px;
  --line-height-200: 18px;
  --line-height-300: 25px;
  --line-height-400: calc(var(--font-size-400) / 1.25);
  --line-height-500: calc(var(--font-size-500) / 1.25);

  --font-weight-text: Founders;
  --font-weight-medium: FoundersMedium;

  --text-color: #000000;
  --background-color: #eaeaea;

  --margin: 15px;

  --header-height: 30px;

  --transition-duration: 0.5s;

  --gradient-shadow: linear-gradient(
    45deg,
    #002bff,
    #ff00c8,
    #8601be,
    #002bff,
    #ff00c8,
    #8601be,
    #002bff,
    #ff00c8,
    #8601be
  );
}
html {
  overflow: visible;
  height: 100%;
}
body {
  font-family: var(--font-weight-text);
  background: var(--background-color);
  color: var(--text-color);

  font-size: var(--font-size-200);
  line-height: var(--line-height-200);

  box-sizing: border-box;
  overflow: visible; /* Changed from hidden */
  height: 100%;
  transition: background 0.3s;
  margin: 0;
  padding: 0;
}

.ss01 {
  font-feature-settings: "case";
}

#opening,
#content {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  height: 100vh;
}

#content {
  overflow-y: scroll;
}

/* #content header {
  position: sticky !important;
} */

#root {
  padding: 0px var(--margin);
  min-height: calc(100vh - 80px - 48px);
}

.emdash-cap {
  font-feature-settings: "case";
}

main {
}

section {
  margin-top: calc(var(--margin) * 2);
  margin-bottom: calc(var(--margin) * 2);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: var(--font-size-500);
  line-height: var(--line-height-500);

  margin-bottom: calc(var(--font-size-500) / 4);
}
h2 {
  font-size: var(--font-size-400);
  line-height: var(--line-height-400);

  margin-bottom: calc(var(--font-size-500) / 4);
}
h5 {
  font-size: var(--font-size-100);

  margin: 6px 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
a:visited {
  color: var(--text-color);
}

.hidden {
  display: none !important; /* Make the component visible */
}

button {
  background: transparent;
  border: 0;
  color: var(--text-color);
  padding: 0;
  margin: 0;
}

.button {
  position: relative;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  z-index: 2;
}
/* glow */
.button::before {
  content: "";
  background: linear-gradient(45deg, #002bff, #ff00c8, #8601be);
  position: absolute;
  top: 4px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% - 4px);
  filter: blur(8px) saturate(2);
  /* -webkit-filter: blur(8px); */
  animation: glowing 20s linear infinite;
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
  transform: translateZ(0); /* Add translateZ(0) to force repaint */
  transform-origin: center;
}

mux-player {
  --play-button: none;
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --mute-button: none;
  --captions-button: none;
  --airplay-button: none;
  --pip-button: none;
  --fullscreen-button: none;
  --cast-button: none;
  --playback-rate-button: none;
  --volume-range: none;
  --time-range: none;
  --time-display: none;
  --duration-display: none;
  --rendition-menu-button: none;
  pointer-events: none !important;
}

/* control-bar bottom */

mux-player::part(control-bar) {
  opacity: 1 !important;
  --gradient-steps: none !important
;
}

footer {
  position: relative;
}

#content footer {
  position: relative;
}

.icon {
  /* fill: #fff; */
}

@keyframes glowing {
  0% {
    background-position: 0% 50%;
    transform: translateZ(0.1);
  }
  50% {
    background-position: 100% 50%;
    transform: translateZ(0);
  }
  100% {
    background-position: 0% 50%;
    transform: translateZ(0.1);
  }
}

.button:hover::before,
.button.active::before {
  opacity: 1;
  transform: scale(1) translateZ(0);
}

/* Phones in Landscape Mode */
@media (max-width: 575.98px) {
  :root {
    --font-size-100: 14px;
    --font-size-200: 18px;
    --font-size-300: 24px;
    --font-size-400: 50px;
    --font-size-500: 50px;

    --line-height-100: 14px;
    --line-height-200: 18px;
    --line-height-300: 24px;
    --line-height-400: calc(var(--font-size-400) / 1.25);
    --line-height-500: calc(var(--font-size-500) / 1.25);
  }

  /* #content {
    position: relative;
    height: auto;
  } */
}

/* Small Devices (Phones, 576px and up) */
@media (max-width: 767.98px) {
  main {
    /* padding-bottom: 100px; */
  }

  .button:hover::before {
    opacity: 0;
    transform: scale(1) translateZ(0);
  }

  .button.active::before {
    opacity: 1 !important;
    transform: scale(1) translateZ(0);
  }
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Desktop */
@media (min-width: 991.98px) {
}
