.viewwrapper {
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-100);
  margin-right: 30px;
}
.viewwrapper li {
  margin-right: 10px;
}
.options-wrapper {
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-100);
  margin-bottom: var(--margin);
}
