.credits-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: unset;
  gap: var(--margin);
  margin-top: 0;
}

section.credits-wrapper {
  margin-bottom: calc(var(--margin) * 3);
}

.credits-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--margin);
}

.credits-inhouse,
.credits-client {
  display: flex;
  flex-direction: column;
  gap: 1lh;
}

/* Phones in Landscape Mode */
@media (max-width: 575.98px) {
  .credits-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .credits-columns {
    grid-template-columns: 1fr;
  }
}

/* Small Devices (Phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .credits-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .credits-columns {
    grid-template-columns: 1fr;
  }
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) {
  section.credits-wrapper h2 {
    transform: translateY(-2px) !important;
  }
}

/* Desktop */
@media (min-width: 991.98px) {
}
