main.contact {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--margin);

  font-size: var(--font-size-300);
  line-height: var(--line-height-300);
}
.text-container {
  margin-top: calc(80px + (2 * var(--font-size-100)) + 10px);
}

.contact section {
  margin-bottom: calc(var(--margin) * 2);
}

@media screen and (max-width: 768px) {
  main.contact {
    /* display: inline-block; */
    grid-template-columns: 1fr;
  }

  .text-container {
    margin-top: calc(75px + 2 * (var(--font-size-100)));
  }
}
