.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--margin);

  font-size: var(--font-size-300);
  line-height: var(--line-height-300);
}

.contact section {
  margin-bottom: calc(var(--margin) * 2);
}

@media screen and (max-width: 768px) {
  .contact {
    display: inline-block;
    grid-template-columns: 1fr;
  }
}
