main.project-container {
  position: relative;
  margin-top: calc(80px + (2 * var(--font-size-100)) + 10px);
  margin-bottom: 100px;
}

main.project-container section:first-of-type {
  margin-top: calc(var(--margin));
}
